@import "./variables.scss";
@import "./TaskForm.scss";
@import "./TaskList.scss";

.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  font-family: sans-serif;
  color: $primary-color;
}

.error {
  color: red;
  font-weight: bold;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}