@import "./variables";
@import "./task";

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: $secondary-color;
  color: $text-color;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
